.sidebar-mkdf-custom {
    position: relative;
}

.mkdf-delete-button {
    height: 24px;
    width: 24px;
    position: absolute;
    z-index: 100;
    top: 12px;
    right: 42px;
    background: transparent url(img/delete.png) no-repeat top left;
}

.mkdf-delete-button:hover {
    background: transparent url(img/delete.png) no-repeat bottom left;
    cursor: pointer;
}

.activate_spinner {
    display: block !important;
    position: absolute;
    top: 10px;
    right: 4px;
    background-color: #ECECEC;
}

.mkdf-add-widget {
    background-color: #FCFCFC;
    border: 1px solid #DFDFDF;
    padding: 10px;
    text-align: center;
    margin: 12px 0px;
}

#wpwrap .mkdf-add-widget .button {
    margin-top: 15px;
}

.mkdf-add-widget .input_wrap {
    display: block;
    position: relative;
}

.mkdf-add-widget .input_wrap input {
    width: 100%;
}

.mkdf-field-description {
    display: block;
    font-style: italic;
    margin-top: 5px;
}

.mkdf-widget-color-picker label,
.mkdf-widget-color-picker span {
    display: block;
}