/* @override 
	https://www.unruli.dev.cc/wp-content/themes/unruli-salon/style.css?* */

/*
Theme Name: Unruli Theme
Theme URI: http://unruli.com
Description: A child theme of Curly Theme
Author: Spiro Graphics, Inc.
Author URI: http://spirographics.com
Version: 1.0.0
Text Domain: unruli
Template: curly
*/



.box {
	padding: 0 2px 3px 4px;
}

.home-2col .mkdf-is-button {
	margin-bottom: 22px;
}


body.home div.bg-bottom {
	background-position: 0 bottom;
}


/* @group HERO */

#herotext{
	padding-bottom: 122px;
	margin-top: 222px;
	padding-top: 60px;
	color: #ffffff;
}

#herotext .backscript {
	font: 4em/.8em quentinregular;
	color: rgba(197, 156, 94, 0.65);
	text-align: center;
}

#herotext h3 {
	color: #ffffff;
	padding-right: 10%;
	padding-left: 10%;
}
#hero_home:first-of-type {
	background-image: url("https://www.unruli.dev.cc/wp-content/uploads/2019/01/ginger_flowers2.jpg");
	background-size: cover;
	background-position-x: center;
}

#hero_foot {
	background-image: url("https://www.unruli.dev.cc/wp-content/uploads/2019/01/ginger-bottom.jpg");
	background-size: cover;
	background-position-y: bottom;
}

div#hero_foot.vc_row.wpb_row.vc_inner.vc_row-fluid.vc_custom_1548366418523 {
	box-shadow: 0 2px 4px #000000;
}
/* @end */

.trio_boxed .mkdf-banner-title{
    font-size: 1.25em;
}

.trio_boxed .mkdf-banner-subtitle{
    text-transform: none;
}




#beautydilema div.wpb_wrapper {
	background-image: -webkit-radial-gradient(ellipse farthest-corner, rgba(56, 32, 16, 0.35) 0%, rgba(44, 32, 18, 0) 66.2%);
	background-image: -moz-radial-gradient(ellipse farthest-corner, rgba(56, 32, 16, 0.35) 0%, rgba(44, 32, 18, 0) 66.2%);
	background-image: -ms-radial-gradient(ellipse farthest-corner, rgba(56, 32, 16, 0.35) 0%, rgba(44, 32, 18, 0) 66.2%);
	background-image: radial-gradient(ellipse farthest-corner, rgba(56, 32, 16, 0.35) 0%, rgba(44, 32, 18, 0) 66.2%);
}


div#beautydilema {background-size: cover;
	}
	
	
div#hairdeep {
	background-size: cover;
}

div#media_image-7 {
	width: 240px;
}

body.home .mkdf-info-section .mkdf-is-background-text {
		transition: opacity .7s ease-out .2s;
		opacity: 0.8;
		font-size: 120px!important;
}




/*TEAM PAGE */

body.single-team .mkdf-post-heading, body.single-team .mkdf-post-info-top, body.single-team .mkdf-post-info-bottom, body.single-team .mkdf-post-title {
	display: none;
}

body.single-team .entry-title {
	font: 6em quentinregular;
	text-transform: capitalize;
	color: #c59d5f;
}

body.single-team .mkdf-title-inner {
	margin-top: 0;
	padding-top: 0;
}

body.single-team  .mkdf-title-holder img {
	display: none;
}

body.single-team div.mkdf-content-inner div.mkdf-title-holder{
	height: 260px!important;
	opacity: 1;
	}

body.single-team   div.mkdf-title-wrapper {
	height: 100px!important;
}
body.team-template-default.single.single-team div.mkdf-content-inner div.mkdf-title-holder.mkdf-centered-type.mkdf-title-va-header-bottom.mkdf-has-bg-image.mkdf-bg-parallax {
	background: linear-gradient(to bottom, rgb(197, 156, 92) 0%, #cfaa72 100%) !important;
}

.team div.vc_row.wpb_row.vc_row-fluid.vc_row-o-equal-height.vc_row-flex .position-bottom {
	left: 16px;
	right: 16px;
	bottom: 0px;
	position: absolute;
}
 .team  div.mkdf-post-text-main  div.wpb_wrapper div.vc_icon_element  {
 	display: inline-block;
 }

<<<<<<< .merge_file_PyqT2Y
<<<<<<< HEAD
=======

>>>>>>> 308b2e61988139f0dab1455fcaa8ae80424caa03
=======

>>>>>>> .merge_file_kqYQcW
div.post div:first-of-type{
	display: none;}
	
/*Services List*/
div.mkdf-bsl-holder ul.mkdf-bsl {
	border-bottom: 1px dotted #dfdfdf;
	margin-bottom: 32px;
	padding-bottom: 26px;
}

body > div.mkdf-wrapper > div.mkdf-wrapper-inner > div > div > div > div > div > div > div.vc_row.wpb_row.vc_row-fluid.vc_custom_1548370605378.vc_row-o-full-height.vc_row-o-columns-middle.vc_row-flex.mkdf-parallax-row-holder.mkdf-content-aligment-center {
	background-size: cover;
}	


<<<<<<< .merge_file_PyqT2Y
<<<<<<< HEAD
@media only screen and (min-width: 1024px)	{
=======
@media only screen and (min-width: 960px)	{
>>>>>>> 308b2e61988139f0dab1455fcaa8ae80424caa03
=======
@media only screen and (min-width: 960px)	{
>>>>>>> .merge_file_kqYQcW
	
	#herotext {
		padding-bottom: 80px;
		margin-top: 322px;
		padding-top: 60px;
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 1440px)	{
	
	#herotext {
		padding-bottom: 60px;
		margin-top: 522px;
		padding-top: 60px;
		font-size: 2em;
	}
<<<<<<< .merge_file_PyqT2Y
<<<<<<< HEAD
}

@media only screen and (max-width:768px) {
	.hide_phone{
		display: none; 
	}
	body.home.page-template  div.mkdf-eh-item.hide_phone {
		display:  none;
	}
	body.home  div.mkdf-elements-holder.home-2col.mkdf-two-columns  {
		margin-left: 0;
		margin-right: 0;
	}
	div.mkdf-row-grid-section {
		width: 100%;
	}
=======
>>>>>>> 308b2e61988139f0dab1455fcaa8ae80424caa03
=======
>>>>>>> .merge_file_kqYQcW
}