/* ==========================================================================
   Header styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Header styles - begin
   ========================================================================== */
.mkdf-page-header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
  box-sizing: border-box;
  /* ==========================================================================
    #General header layout - start
    ========================================================================== */
  /* ==========================================================================
    #General header layout - end
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - start
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - end
    ========================================================================== */
}

.mkdf-page-header a img {
  display: block;
}

.mkdf-page-header p {
  margin: 0;
}

.mkdf-page-header .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-paspartu-enabled .mkdf-page-header .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-page-header .mkdf-grid {
  height: 100%;
}

.mkdf-page-header .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.mkdf-page-header .mkdf-logo-area {
  position: relative;
  height: 90px;
  overflow: hidden;
  background-color: #fff;
}

.mkdf-page-header .mkdf-logo-area .mkdf-logo-wrapper a {
  max-height: 90px;
}

.mkdf-page-header .mkdf-menu-area {
  position: relative;
  height: 90px;
  background-color: #fff;
  box-sizing: border-box;
}

.mkdf-boxed .mkdf-page-header .mkdf-menu-area {
  padding: 0;
}

.mkdf-page-header .mkdf-menu-area .mkdf-logo-wrapper a {
  max-height: 90px;
}

.mkdf-page-header .mkdf-menu-area .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.mkdf-logo-area-border-disable .mkdf-page-header .mkdf-logo-area {
  border: none;
}

.mkdf-logo-area-in-grid-border-disable .mkdf-page-header .mkdf-logo-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-logo-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area {
  box-shadow: none;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  box-shadow: none;
}

.mkdf-menu-area-border-disable .mkdf-page-header .mkdf-menu-area {
  border: none;
}

.mkdf-menu-area-in-grid-border-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

/* ==========================================================================
#Light header - begin
========================================================================== */
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 1;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 0;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #ffffff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #ffffff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #ffffff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.7) !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #ffffff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #ffffff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #ffffff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.7) !important;
}

/* ==========================================================================
#Light header - end
========================================================================== */
/* ==========================================================================
#Dark header - begin
========================================================================== */
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 1;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 0;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #000000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #000000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #000000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #000000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #000000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #000000 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

/* ==========================================================================
#Dark header - end
========================================================================== */
/* ==========================================================================
   Header end - end
   ========================================================================== */
/* ==========================================================================
   Header logo styles - begin
   ========================================================================== */
.mkdf-logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-logo-wrapper a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.mkdf-logo-wrapper a img {
  height: 100%;
  width: auto;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.mkdf-logo-wrapper a img.mkdf-normal-logo {
  opacity: 1;
}

.mkdf-logo-wrapper a img.mkdf-dark-logo {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.mkdf-logo-wrapper a img.mkdf-light-logo {
  opacity: 0;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}

/* ==========================================================================
   Header logo styles - end
   ========================================================================== */
/* ==========================================================================
   Header main menu style - begin
   ========================================================================== */
.mkdf-main-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.mkdf-main-menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.mkdf-main-menu ul li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}

.mkdf-main-menu ul li a {
  color: #ffffff;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.35em;
  line-height: 24px;
  text-transform: uppercase;
}

.mkdf-main-menu ul li a .item_text {
  border-bottom: none;
  display: inline-block;
  position: relative;
}

.mkdf-main-menu ul li a .item_text:before {
  background-color: currentColor;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.mkdf-main-menu ul li a .item_text:before {
  transform-origin: left;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.1s ease-out 0s;
  -moz-transition: -moz-transform 0.1s ease-out 0s;
  transition: transform 0.1s ease-out 0s;
}

.mkdf-main-menu ul li a:hover .item_text {
  border-bottom-color: currentColor;
}

.mkdf-main-menu ul li a:hover .item_text:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: -webkit-transform 0.2s ease-out 0.1s;
  -moz-transition: -moz-transform 0.2s ease-out 0.1s;
  transition: transform 0.2s ease-out 0.1s;
}

.mkdf-main-menu ul li a i:before {
  margin: 0 7px 0 0;
}

.mkdf-main-menu ul li a .menu_icon_wrapper {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.mkdf-main-menu ul li a .mkdf-menu-featured-icon {
  color: currentColor;
  font-size: 10px;
  left: 5px;
  margin: 0;
  position: relative;
  top: -4px;
}

.mkdf-main-menu ul li a .mkdf-menu-featured-icon:before {
  margin: 0;
}

.mkdf-main-menu ul li a .item_outer {
  color: inherit;
}

.mkdf-main-menu ul li a .item_text {
  color: inherit;
}

.mkdf-main-menu > ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.mkdf-main-menu > ul > li {
  box-sizing: border-box;
  float: left;
  height: 100%;
}

.mkdf-main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  color: #000000;
  font-size: 12px;
  height: 100%;
  padding: 0 17px;
}

.mkdf-main-menu > ul > li > a > span.item_outer {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-main-menu > ul > li > a > span.item_outer .item_text {
  display: inline-block;
  position: relative;
  vertical-align: top;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.mkdf-main-menu > ul > li.mkdf-active-item > a .item_text:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: -webkit-transform 0.2s ease-out 0.1s;
  -moz-transition: -moz-transform 0.2s ease-out 0.1s;
  transition: transform 0.2s ease-out 0.1s;
}

.mkdf-main-menu > ul > li.has_sub > a .mkdf-menu-arrow {
  display: none;
}

.mkdf-main-menu.mkdf-sticky-nav > ul > li > a {
  color: #ffffff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a {
  color: #ffffff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a:hover {
  color: #ffffff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: #ffffff;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a {
  color: #000000;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a:hover {
  color: #000000;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: #000000;
}

.mkdf-drop-down .second {
  display: block;
  left: -33px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  visibility: hidden;
  z-index: 10;
  -webkit-transition: top 0.15s ease-out;
  -moz-transition: top 0.15s ease-out;
  transition: top 0.15s ease-out;
}

.mkdf-drop-down .second.mkdf-drop-down-start {
  opacity: 1;
  overflow: visible;
  visibility: visible;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-drop-down .second.right {
  left: auto;
  right: 0;
}

.mkdf-drop-down .second .inner {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 997;
}

.mkdf-drop-down .second .inner ul li {
  display: block;
  float: none;
  height: auto;
}

.mkdf-drop-down .second .inner ul li .widget {
  margin: 0 !important;
  width: 100%;
}

.mkdf-drop-down .second .inner ul li a {
  display: block;
  float: none;
  margin: 0;
  padding: 6px 50px;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.mkdf-drop-down .second .inner ul li a .item_outer {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 0 10px 0 0;
  position: relative;
}

.mkdf-drop-down .second .inner ul li.current-menu-ancestor > a .item_text:before,
.mkdf-drop-down .second .inner ul li.current-menu-item > a .item_text:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: -webkit-transform 0.2s ease-out 0.1s;
  -moz-transition: -moz-transform 0.2s ease-out 0.1s;
  transition: transform 0.2s ease-out 0.1s;
}

.mkdf-drop-down .second .inner ul li.sub > a .item_outer:after {
  content: '\f105';
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  right: -4px;
  text-align: center;
  top: -1px;
  vertical-align: middle;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mkdf-drop-down .second .inner ul.right li a {
  padding: 6px 50px;
}

.mkdf-drop-down .second .inner ul.right li a .item_outer {
  padding: 0 0 0 10px;
}

.mkdf-drop-down .second .inner ul.right li.sub > a .item_outer:after {
  content: '\f104';
  left: 0;
  right: auto;
}

.mkdf-drop-down .second .inner ul.right li a {
  text-align: right;
}

.mkdf-drop-down .second .inner ul.right li ul {
  left: -100%;
}

.mkdf-drop-down li.left_position .second {
  left: 0;
}

.mkdf-drop-down li.right_position .second {
  left: auto;
  right: 0;
}

.mkdf-drop-down > ul > li:hover > .second {
  z-index: 20;
}

.mkdf-drop-down .narrow .second .inner ul {
  background-color: #000000;
  display: inline-block;
  padding: 36px 0;
  position: relative;
  vertical-align: middle;
}

.mkdf-drop-down .narrow .second .inner ul li {
  width: 308px;
}

.mkdf-drop-down .narrow .second .inner ul li ul {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  height: auto;
  left: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: -36px;
  -webkit-transform: translateZ(0);
  z-index: 10;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.mkdf-drop-down .narrow .second .inner ul li:hover ul {
  opacity: 1;
  z-index: 20;
}

.mkdf-drop-down .narrow .second .inner ul.right li ul {
  left: -100%;
}

.mkdf-drop-down .wide .second .inner {
  background-color: #000000;
  text-align: center;
}

.mkdf-drop-down .wide .second .inner ul li a {
  padding: 6px 0;
}

.mkdf-drop-down .wide .second .inner ul li ul {
  display: block;
  left: 0;
  position: relative;
  top: 0;
  visibility: visible;
}

.mkdf-drop-down .wide .second .inner ul li ul li:last-child a {
  padding-bottom: 0;
}

.mkdf-drop-down .wide .second .inner > ul {
  box-sizing: border-box;
  display: inline-block;
  padding: 54px 0;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.mkdf-wide-dropdown-menu-content-in-grid .mkdf-drop-down .wide .second .inner > ul {
  width: 1100px;
}

@media only screen and (min-width: 1400px) {
  .mkdf-grid-1300.mkdf-wide-dropdown-menu-content-in-grid .mkdf-drop-down .wide .second .inner > ul {
    width: 1300px;
  }
}

@media only screen and (min-width: 1300px) {
  .mkdf-grid-1200.mkdf-wide-dropdown-menu-content-in-grid .mkdf-drop-down .wide .second .inner > ul {
    width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .mkdf-grid-1000.mkdf-wide-dropdown-menu-content-in-grid .mkdf-drop-down .wide .second .inner > ul {
    width: 1000px;
  }
}

@media only screen and (min-width: 1024px) {
  .mkdf-grid-800.mkdf-wide-dropdown-menu-content-in-grid .mkdf-drop-down .wide .second .inner > ul {
    width: 800px;
  }
}

.mkdf-drop-down .wide .second .inner > ul > li {
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 0 26px;
  width: 25%;
}

.mkdf-drop-down .wide .second .inner > ul > li:nth-child(4n+1) {
  border-left: 0;
  clear: both;
}

.mkdf-drop-down .wide .second .inner > ul > li > a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.1em;
  padding: 0 0 25px;
}

.mkdf-drop-down .wide .second .inner > ul > li > a.no_link {
  cursor: default;
}

.mkdf-drop-down .wide .second .inner > ul > li > a.no_link .item_text:before {
  display: none;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_outer {
  overflow: inherit;
  padding: 0;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_outer:before, .mkdf-drop-down .wide .second .inner > ul > li > a .item_outer:after {
  display: none;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_text {
  border: none;
}

.mkdf-drop-down .wide .second .inner > ul > li.current-menu-item > a .item_text:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: -webkit-transform 0.2s ease-out 0.1s;
  -moz-transition: -moz-transform 0.2s ease-out 0.1s;
  transition: transform 0.2s ease-out 0.1s;
}

.mkdf-drop-down .wide.left_position .second .inner > ul, .mkdf-drop-down .wide.right_position .second .inner > ul {
  white-space: nowrap;
  width: auto;
}

.mkdf-drop-down .wide.left_position .second .inner > ul > li, .mkdf-drop-down .wide.right_position .second .inner > ul > li {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.mkdf-drop-down .wide.left_position .second .inner > ul > li:nth-child(4n+1), .mkdf-drop-down .wide.right_position .second .inner > ul > li:nth-child(4n+1) {
  border-left: none;
}

.mkdf-drop-down .wide.left_position .second ul li, .mkdf-drop-down .wide.right_position .second ul li {
  width: 200px;
}

/* ==========================================================================
   Header main menu style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header style - begin
   ========================================================================== */
.mkdf-page-header .mkdf-fixed-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.admin-bar .mkdf-page-header .mkdf-fixed-wrapper.fixed {
  top: 32px;
}

.mkdf-page-header .mkdf-fixed-wrapper.fixed .mkdf-menu-area {
  background-color: #fff;
}

/* ==========================================================================
   Fixed header style - end
   ========================================================================== */
/*==========================================================================
# Fullscreen menu style - begin
========================================================================== */
/* Fullscreen general style - begin
========================================================================== */
.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener {
  color: #000000;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener:hover, .mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener.mkdf-fm-opened {
  /*color: $header-dark-hover-color;*/
  color: currentColor;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener {
  color: #ffffff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener:hover, .mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-fullscreen-menu-opener.mkdf-fm-opened {
  /*color: $header-dark-hover-color;*/
  color: currentColor;
}

.mkdf-fullscreen-menu-opener {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.mkdf-fullscreen-menu-opener .mkdf-fullscreen-menu-opener-icon {
  opacity: 1;
  position: relative;
}

.mkdf-fullscreen-menu-opener .mkdf-fullscreen-menu-close-icon {
  left: 22px;
  opacity: 0;
  position: absolute;
  top: 0;
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened .mkdf-fullscreen-menu-opener-icon {
  opacity: 0;
}

.mkdf-fullscreen-menu-opener.mkdf-fm-opened .mkdf-fullscreen-menu-close-icon {
  opacity: 1;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-icon-pack {
  font-size: 20px;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-icon-pack * {
  display: inline-block;
  line-height: inherit;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-icon-pack *:before {
  display: inline-block;
  line-height: inherit;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-svg-path span {
  position: relative;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-svg-path span.mkdf-fullscreen-menu-close-icon {
  color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-svg-path span.mkdf-fullscreen-menu-close-icon {
    color: #000000;
  }
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-svg-path span > * {
  vertical-align: middle;
}

.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-svg-path span > *,
.mkdf-fullscreen-menu-opener.mkdf-fullscreen-menu-opener-svg-path span path {
  fill: currentColor;
}

.mkdf-fullscreen-menu-opened .mkdf-page-header,
.mkdf-fullscreen-menu-opened .mkdf-top-bar {
  visibility: hidden;
}

.mkdf-fullscreen-menu-opened .mkdf-fullscreen-menu-opener,
.mkdf-fullscreen-menu-opened .mkdf-logo-wrapper {
  visibility: visible;
}

.mkdf-fullscreen-menu-opened .mkdf-fullscreen-menu-holder-outer {
  opacity: 1 !important;
  visibility: visible !important;
}

.mkdf-fullscreen-menu-holder-outer {
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-x: hidden !important;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 105;
  /* this has to be between header z-index and content z-index */
}

.mkdf-fullscreen-menu-holder {
  background-color: #000000;
  background-position: 0 0;
  background-repeat: repeat;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}

.mkdf-fullscreen-menu-holder-inner {
  display: table-cell;
  padding: 100px 0;
  vertical-align: middle;
}

.touch .mkdf-fullscreen-menu-holder-outer {
  display: none;
}

.touch .mkdf-fullscreen-menu-opened .mkdf-fullscreen-menu-holder-outer {
  display: block;
}

nav.mkdf-fullscreen-menu {
  margin: 0 auto;
  position: relative;
  text-align: left;
  top: 0;
}

nav.mkdf-fullscreen-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

nav.mkdf-fullscreen-menu ul li {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav.mkdf-fullscreen-menu ul li a {
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.35em;
  line-height: 1.3em;
  margin: 11px 0;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
}

nav.mkdf-fullscreen-menu ul li a span {
  border-bottom: 1px solid transparent;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

nav.mkdf-fullscreen-menu ul li a span:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform-origin: left;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.1s ease-out 0s;
  -moz-transition: -moz-transform 0.1s ease-out 0s;
  transition: transform 0.1s ease-out 0s;
}

nav.mkdf-fullscreen-menu ul li a:hover span:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  transform: scale(1, 1);
}

nav.mkdf-fullscreen-menu ul li a .mkdf-fullscreen-menu-arrow {
  display: none;
}

nav.mkdf-fullscreen-menu ul li ul {
  padding: 3px 0;
}

nav.mkdf-fullscreen-menu ul li ul.sub_menu {
  display: none;
}

nav.mkdf-fullscreen-menu ul li ul li.current-menu-ancestor > a span:before,
nav.mkdf-fullscreen-menu ul li ul li.current-menu-item > a span:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  transform: scale(1, 1);
}

nav.mkdf-fullscreen-menu > ul {
  display: block;
}

nav.mkdf-fullscreen-menu > ul > li > a {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin: 7px 0;
  text-transform: uppercase;
}

nav.mkdf-fullscreen-menu > ul > li.mkdf-active-item > a span {
  border-bottom-color: currentColor;
}

.mkdf-fullscreen-below-menu-widget-holder {
  margin-top: 20px;
  text-align: center;
}

.mkdf-fullscreen-above-menu-widget-holder {
  text-align: center;
}

/* Fullscreen general style - end
========================================================================== */
/* Fullscreen fade animations general - begin
========================================================================== */
@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-moz-keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-moz-keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.mkdf-fade-push-text-right .mkdf-fullscreen-menu-holder-outer,
.mkdf-fade-push-text-top .mkdf-fullscreen-menu-holder-outer,
.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer {
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden !important;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 105;
}

.mkdf-fullscreen-fade-out .mkdf-fullscreen-menu-holder-outer {
  animation: fade_out .25s linear both;
  -moz-animation: fade_out .25s linear both;
  -webkit-animation: fade_out .25s linear both;
}

.mkdf-fullscreen-menu-opened.mkdf-fullscreen-fade-in .mkdf-fullscreen-menu-holder-outer {
  animation: fade_in .25s linear both;
  -moz-animation: fade_in .25s linear both;
  -webkit-animation: fade_in .25s linear both;
}

/* Fullscreen fade animations general - end
========================================================================== */
/* Fullscreen animation push text right - begin
========================================================================== */
@-webkit-keyframes push_text_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes push_text_right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes push_text_right {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes push_nav_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes push_nav_right {
  0% {
    opacity: 0;
    -moz-transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@keyframes push_nav_right {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-right .mkdf-fullscreen-menu-holder-outer nav > ul > li > a,
.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-right .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder > div,
.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-right .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder > div {
  -webkit-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  -moz-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
  animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
}

.mkdf-fade-push-text-right.mkdf-push-nav-right .mkdf-fullscreen-menu-holder-outer nav,
.mkdf-fade-push-text-right.mkdf-push-nav-right .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder,
.mkdf-fade-push-text-right.mkdf-push-nav-right .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder {
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  transform: translateX(50px);
}

/* Fullscreen animation push text right - end
========================================================================== */
/* Fullscreen animation push text top - begin
========================================================================== */
@-webkit-keyframes push_text_top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes push_text_top {
  0% {
    opacity: 0;
    -moz-transform: translateY(60px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@keyframes push_text_top {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-top .mkdf-fullscreen-menu-holder-outer nav > ul > li > a,
.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-top .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder > div,
.mkdf-fullscreen-menu-opened.mkdf-fade-push-text-top .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder > div {
  -webkit-animation: push_text_top 0.4s ease-out both 0.5s;
  -moz-animation: push_text_top 0.4s ease-out both 0.5s;
  animation: push_text_top 0.4s ease-out both 0.5s;
}

.mkdf-fade-push-text-top.mkdf-push-text-top .mkdf-fullscreen-menu-holder-outer nav,
.mkdf-fade-push-text-top.mkdf-push-text-top .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder,
.mkdf-fade-push-text-top.mkdf-push-text-top .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

/* Fullscreen animation push text top - end
========================================================================== */
/* Fullscreen animation fade text scaledown - begin
========================================================================== */
.mkdf-fullscreen-menu-opened.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer nav,
.mkdf-fullscreen-menu-opened.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder,
.mkdf-fullscreen-menu-opened.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.25s linear 0.1s;
  -moz-transition: all 0.25s linear 0.1s;
  transition: all 0.25s linear 0.1s;
}

.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer nav,
.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-below-menu-widget-holder,
.mkdf-fade-text-scaledown .mkdf-fullscreen-menu-holder-outer .mkdf-fullscreen-above-menu-widget-holder {
  opacity: 0;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.25s linear 0.1s;
  -moz-transition: all 0.25s linear 0.1s;
  transition: all 0.25s linear 0.1s;
}

/* Fullscreen animation fade text scaledown - end
========================================================================== */
/* ==========================================================================
# Fullscreen menu style - end
==========================================================================*/
/* ==========================================================================
   Header Minimal style - begin
   ========================================================================== */
.mkdf-header-minimal .mkdf-page-header .mkdf-menu-area .mkdf-position-right-inner {
  height: auto;
}

.mkdf-header-minimal .mkdf-page-header .mkdf-position-left:before,
.mkdf-header-minimal .mkdf-page-header .mkdf-position-right:before {
  content: "";
}

.mkdf-header-minimal .mkdf-page-header .mkdf-sticky-header .mkdf-position-left-inner {
  height: auto;
}

.mkdf-header-minimal .mkdf-page-header .mkdf-sticky-header .mkdf-vertical-align-containers .mkdf-position-right .mkdf-position-right-inner {
  height: auto;
}

/* ==========================================================================
   Header Minimal style - end
   ========================================================================== */
/* ==========================================================================
   Header Standard style - begin
   ========================================================================== */
.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-left-inner {
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-left:before,
.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-center-inner {
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-right .mkdf-main-menu {
  width: auto;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-right .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Standard style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header style - begin
   ========================================================================== */
.mkdf-mobile-header {
  position: relative;
  display: none;
  z-index: 110;
  /* #General mobile header styles
    ========================================================================== */
  /* #End of general mobile header styles
   ========================================================================== */
  /* #Mobile logo styles
    ========================================================================== */
  /* #End of mobile logo styles
    ========================================================================== */
  /* #Mobile menu opener styles
    ========================================================================== */
  /* #End of mobile menu opener styles
    ========================================================================== */
  /* #Mobile menu navigation styles
    ========================================================================== */
  /* #End of mobile menu navigation styles
    ========================================================================== */
}

.mkdf-mobile-header .mkdf-mobile-header-inner {
  position: relative;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #afaaa9;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-mobile-header-inner .mkdf-mobile-header-holder {
  position: relative;
  z-index: 2;
  height: 100%;
}

.mkdf-mobile-header .mkdf-grid {
  height: 100%;
}

.mkdf-mobile-header .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper a {
  display: block;
}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper img {
  display: block;
  height: 100%;
  width: auto;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener {
  position: relative;
  height: 100%;
  float: left;
  z-index: 2;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a {
  display: table;
  height: 100%;
  padding-right: 10px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a > * {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a .mkdf-mobile-menu-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  padding-left: 5px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opened a {
  color: #c59d5f;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-icon-pack .mkdf-mobile-menu-icon {
  font-size: 24px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-icon-pack .mkdf-mobile-menu-icon * {
  display: block;
  line-height: inherit;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-icon-pack .mkdf-mobile-menu-icon *:before {
  display: block;
  line-height: inherit;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-svg-path .mkdf-mobile-menu-icon > * {
  vertical-align: middle;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-svg-path .mkdf-mobile-menu-icon > *,
.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-svg-path .mkdf-mobile-menu-icon path {
  fill: currentColor;
}

.mkdf-mobile-header .mkdf-mobile-nav {
  display: none;
  background-color: #fff;
  border-bottom: 1px solid #afaaa9;
}

.mkdf-mobile-header .mkdf-mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-transform: translateZ(0);
}

.mkdf-mobile-header .mkdf-mobile-nav ul li a, .mkdf-mobile-header .mkdf-mobile-nav ul li h6 {
  position: relative;
  display: block;
  padding: 9px 0;
  margin: 0;
  color: #000000;
  border-bottom: 1px solid #afaaa9;
  cursor: pointer;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li a:hover, .mkdf-mobile-header .mkdf-mobile-nav ul li h6:hover {
  color: #c59d5f;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul {
  display: none;
  margin-left: 15px;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-ancestor > a,
.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-item > a,
.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-ancestor > h6,
.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-item > h6 {
  color: #c59d5f;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul li a, .mkdf-mobile-header .mkdf-mobile-nav ul ul li h6 {
  font-size: 11px;
  line-height: 24px;
}

.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid > ul > li > a,
.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid > ul > li > h6 {
  padding-left: 4px;
  font-size: 13px;
}

.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid > ul > li.mkdf-active-item > a,
.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid > ul > li.mkdf-active-item > h6 {
  color: #c59d5f;
}

.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid > ul > li.mkdf-active-item > .mobile_arrow > .mkdf-sub-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: auto;
  padding: 9px 12px 9px 0;
  font-size: 15px;
  line-height: inherit;
  text-align: right;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow:hover {
  cursor: pointer;
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow .mkdf-sub-arrow {
  line-height: 1;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow .fa-angle-down {
  display: none;
}

.mkdf-mobile-header .mkdf-mobile-nav li.mkdf-opened > .mobile_arrow > .mkdf-sub-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mkdf-mobile-header .mkdf-mobile-nav > ul > li:last-child > a,
.mkdf-mobile-header .mkdf-mobile-nav > .mkdf-grid > ul > li:last-child > a {
  border-bottom: none;
}

/* ==========================================================================
   Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky Mobile header style - begin
   ========================================================================== */
.mkdf-sticky-up-mobile-header .mkdf-animate-mobile-header .mkdf-mobile-header-inner {
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  -moz-transition: -moz-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
}

.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

/* ==========================================================================
   Sticky Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header style - begin
   ========================================================================== */
.mkdf-sticky-header {
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  transition: transform 0.6s ease;
  -webkit-backface-visibility: hidden;
}

.mkdf-sticky-header .mkdf-grid {
  height: 100% !important;
}

.mkdf-sticky-header.header-appear {
  transform: translateY(0%);
}

.admin-bar .mkdf-sticky-header.header-appear {
  top: 32px;
}

.mkdf-sticky-header .mkdf-sticky-holder {
  background-color: #000000;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  z-index: 2;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-logo-wrapper a {
  max-height: 70px;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-main-menu {
  padding: 0 0 0 20px;
  width: auto;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-left-inner {
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right-inner {
  align-items: center;
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: -webkit-flex;
  /* Safari */
  display: flex;
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-center-inner {
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right-inner {
  align-items: center;
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: -webkit-flex;
  /* Safari */
  display: flex;
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-right .mkdf-main-menu {
  width: auto;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-right .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: 100%;
}

.mkdf-sticky-header .widget {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.mkdf-sticky-header svg {
  color: #ffffff;
}

/* ==========================================================================
   Sticky header style - end
   ========================================================================== */
/* ==========================================================================
   Top header style - begin
   ========================================================================== */
.mkdf-top-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 46px;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  background-color: #000000;
  z-index: 111;
  box-sizing: border-box;
}

.mkdf-top-bar > .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left:before,
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left-inner,
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-top-bar .mkdf-grid {
  height: 100%;
}

.mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
  padding-left: 0;
  padding-right: 0;
}

.mkdf-top-bar-in-grid-padding .mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-top-bar .widget {
  margin: 0;
}

/* ==========================================================================
   Top header style - end
   ========================================================================== */
/* ==========================================================================
   Header styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map.css.map */
