/* ==========================================================================
   Blog styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Blog Common style - begin
   ========================================================================== */
.mkdf-blog-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
  margin: 0 0 40px;
}

.mkdf-blog-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-holder article.sticky .mkdf-post-title a {
  color: #c59d5f;
}

.mkdf-blog-holder article .mkdf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-image {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-image img {
  display: block;
}

.mkdf-blog-holder article .mkdf-post-image-background {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.mkdf-blog-holder article .mkdf-post-image-background a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mkdf-blog-holder article .mkdf-post-image-icon {
  color: #fff;
  font-size: 30px;
  line-height: 1;
  position: absolute;
  right: 20px;
  top: 20px;
}

.mkdf-blog-holder article .mkdf-post-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-holder article .mkdf-post-title {
  margin: 0;
}

.mkdf-blog-holder article .mkdf-post-excerpt-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 18px 0 0;
}

.mkdf-blog-holder article .mkdf-post-excerpt-holder p {
  margin: 0;
}

.mkdf-blog-holder article .mkdf-post-excerpt:after {
  content: '...';
}

.mkdf-blog-holder article .mkdf-more-link-container {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
}

.mkdf-blog-holder article .mkdf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-info > * {
  color: currentColor;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.mkdf-blog-holder article .mkdf-post-info > * a {
  color: inherit;
}

.mkdf-blog-holder article .mkdf-post-info-top {
  margin-bottom: 1px;
}

.mkdf-blog-holder article .mkdf-post-info-top > div {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.25em;
  line-height: 1.33em;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.mkdf-blog-holder article .mkdf-post-info-top > div a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.mkdf-blog-holder article .mkdf-post-info-top > div a:hover {
  color: #c59d5f;
}

.mkdf-blog-holder article .mkdf-post-info-top > div:after {
  content: '|';
  padding: 0 12px;
}

.mkdf-blog-holder article .mkdf-post-info-top > div:last-child {
  padding: 0;
}

.mkdf-blog-holder article .mkdf-post-info-top > div:last-child:after {
  display: none;
}

.mkdf-blog-holder article .mkdf-post-info-top > div a {
  color: inherit;
}

.mkdf-blog-holder article .mkdf-post-info-top > div a:hover {
  color: #c59d5f;
}

.mkdf-blog-holder article .mkdf-post-info-bottom {
  padding-top: 26px;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

@media only screen and (min-width: 681px) {
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left,
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
    width: 50%;
  }
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left {
    float: left;
  }
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
    text-align: right;
    float: right;
  }
}

.mkdf-blog-holder article .mkdf-post-info-comments-holder,
.mkdf-blog-holder article .mkdf-blog-like {
  display: inline-block;
  color: #808080;
  font-size: 12px;
  padding-right: 11px;
  position: relative;
  top: 2px;
}

.mkdf-blog-holder article .mkdf-post-info-comments-holder a,
.mkdf-blog-holder article .mkdf-blog-like a {
  color: inherit;
  font-weight: 500;
}

.mkdf-blog-holder article .mkdf-post-info-comments-holder a:hover,
.mkdf-blog-holder article .mkdf-blog-like a:hover {
  color: #c59d5f;
}

.mkdf-blog-holder article .mkdf-post-info-comments-holder .fa,
.mkdf-blog-holder article .mkdf-blog-like .fa {
  font-size: 14px;
  padding-right: 9px;
}

@media only screen and (max-width: 680px) {
  .mkdf-blog-holder article .mkdf-blog-list-button {
    margin-top: 9px;
  }
}

.mkdf-blog-holder article .mkdf-blog-list-button:hover {
  color: #000000;
}

.mkdf-blog-holder article.format-link .mkdf-post-text {
  background-color: #282828;
}

.mkdf-blog-holder article.format-link .mkdf-post-link-holder {
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  margin: 20px;
}

.mkdf-blog-holder article.format-link .mkdf-post-link-holder-inner {
  margin: 0 auto;
  padding: 63px 0;
  text-align: center;
  width: 80%;
}

.mkdf-blog-holder article.format-link .mkdf-post-title {
  color: #ffffff;
}

.mkdf-blog-holder article.format-link .mkdf-post-mark {
  height: 36px;
  left: auto;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 36px;
}

.mkdf-blog-holder article.format-link .mkdf-post-mark .mkdf-link-mark {
  color: rgba(255, 255, 255, 0.2);
  font-size: 36px;
}

.mkdf-blog-holder article.format-link:hover .mkdf-post-link-holder {
  border-color: #ffffff;
}

.mkdf-blog-holder article.format-link:hover .mkdf-post-mark .mkdf-link-mark {
  color: #ffffff;
}

.mkdf-blog-holder article.format-quote .mkdf-post-text {
  background-color: #282828;
}

.mkdf-blog-holder article.format-quote .mkdf-post-quote-holder {
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  margin: 20px;
}

.mkdf-blog-holder article.format-quote .mkdf-post-quote-holder-inner {
  margin: 0 auto;
  padding: 46px 0;
  text-align: center;
  width: 80%;
}

.mkdf-blog-holder article.format-quote .mkdf-post-title {
  color: #ffffff;
}

.mkdf-blog-holder article.format-quote .mkdf-quote-author {
  color: #ffffff;
  margin-top: 15px;
}

.mkdf-blog-holder article.format-quote:hover .mkdf-post-quote-holder {
  border-color: #ffffff;
}

.mkdf-blog-holder article.format-gallery .mkdf-post-image {
  width: 100%;
}

.mkdf-blog-holder article.format-gallery .owl-carousel .owl-item {
  z-index: 2;
}

.mkdf-blog-holder article.format-gallery .owl-carousel .owl-item.active {
  z-index: 3;
}

.mkdf-blog-holder article.format-audio.has-post-thumbnail .mkdf-post-heading {
  position: relative;
}

.mkdf-blog-holder article.format-audio.has-post-thumbnail .mkdf-blog-audio-holder {
  bottom: 0;
  display: inline-block;
  left: 0;
  position: absolute;
  vertical-align: middle;
  width: 100%;
}

.mkdf-blog-holder article.format-audio .mkdf-post-image {
  max-width: inherit;
  width: 100%;
}

.mkdf-blog-holder article.format-audio .mkdf-post-image img {
  width: 100%;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container, .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-embed, .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-embed body, .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls {
  background: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container {
  background-color: #000000;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls {
  height: 38px !important;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls {
  box-sizing: border-box;
  padding: 0 10px 0 4px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button {
  width: 39px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  width: 30px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  height: 38px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button button {
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  height: 100%;
  margin: 0;
  outline: none;
  position: relative;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-play button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-play button {
  background-image: url("../img/audio/play.png");
  width: 39px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-pause button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-pause button {
  background-image: url("../img/audio/pause.png");
  width: 39px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-stop button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-stop button {
  background-image: url("../img/audio/stop.png");
  width: 39px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-mute button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-mute button {
  background-image: url("../img/audio/sound.png");
  width: 30px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-unmute button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-unmute button {
  background-image: url("../img/audio/mute.png");
  width: 30px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time {
  color: #fff;
  font-family: inherit;
  font-size: 13px;
  height: 100%;
  line-height: 36px;
  margin-top: 2px;
  padding: 0;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail {
  font-family: inherit;
  height: 100%;
  padding: 0;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total {
  background: none;
  background-color: #fff;
  height: 5px;
  margin: 17px 0;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-current {
  background-color: #c59d5f;
  height: 5px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-buffering,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  height: 5px;
  z-index: 9999;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  background: rgba(0, 0, 0, 0.5);
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  border: 0;
  color: #fff;
  top: -16px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-handle-content {
  display: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-corner {
  top: 11px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-loaded,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  background: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider {
  height: 38px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: none;
  height: 5px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background-color: #fff;
  top: 17px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #c59d5f;
}

.mkdf-blog-holder article.format-video .mkdf-self-hosted-video {
  max-width: 100%;
}

/* ==========================================================================
   Blog Common style - end
   ========================================================================== */
/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-type-masonry {
  /***** Number of Columns - begin *****/
  /***** Number of Columns - end *****/
  /***** Space on container if full width - start *****/
  /***** Space on container if full width - end *****/
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-holder-inner {
  opacity: 0;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article {
  float: left;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article,
.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-sizer {
  width: 100%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-gutter {
  width: 0;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns .mkdf-blog-masonry-grid-sizer {
  width: 50%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article.mkdf-masonry-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article.mkdf-masonry-size-large-width-height {
  width: 100%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns .mkdf-blog-masonry-grid-sizer {
  width: 33.33333%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article.mkdf-masonry-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article.mkdf-masonry-size-large-width-height {
  width: 66.66667%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns .mkdf-blog-masonry-grid-sizer {
  width: 25%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-masonry-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-masonry-size-large-width-height {
  width: 50%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns .mkdf-blog-masonry-grid-sizer {
  width: 20%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-masonry-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-masonry-size-large-width-height {
  width: 40%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width {
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-no-space {
  padding: 0 0px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-tiny-space {
  padding: 0 10px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-small-space {
  padding: 0 20px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-normal-space {
  padding: 0 30px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-medium-space {
  padding: 0 40px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-large-space {
  padding: 0 50px;
}

/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination standard style - begin
   ========================================================================== */
.mkdf-blog-pagination-wp {
  display: none;
}

.mkdf-blog-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
  margin: 59px 0 30px;
}

.mkdf-blog-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.mkdf-blog-pagination ul li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  vertical-align: top;
}

.mkdf-blog-pagination ul li a {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.25em;
  line-height: 1.33em;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: middle;
}

.mkdf-blog-pagination ul li a a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.mkdf-blog-pagination ul li a a:hover {
  color: #c59d5f;
}

.mkdf-blog-pagination ul li a:hover, .mkdf-blog-pagination ul li a.mkdf-pag-active {
  text-decoration: underline;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev, .mkdf-blog-pagination ul li.mkdf-pag-next, .mkdf-blog-pagination ul li.mkdf-pag-first, .mkdf-blog-pagination ul li.mkdf-pag-last {
  margin: 0 12px;
  top: -1px;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a, .mkdf-blog-pagination ul li.mkdf-pag-next a, .mkdf-blog-pagination ul li.mkdf-pag-first a, .mkdf-blog-pagination ul li.mkdf-pag-last a {
  font-size: 20px;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a:hover, .mkdf-blog-pagination ul li.mkdf-pag-next a:hover, .mkdf-blog-pagination ul li.mkdf-pag-first a:hover, .mkdf-blog-pagination ul li.mkdf-pag-last a:hover {
  color: #c59d5f;
  text-decoration: none;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a span, .mkdf-blog-pagination ul li.mkdf-pag-next a span, .mkdf-blog-pagination ul li.mkdf-pag-first a span, .mkdf-blog-pagination ul li.mkdf-pag-last a span {
  display: block;
  line-height: inherit;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a span:before, .mkdf-blog-pagination ul li.mkdf-pag-next a span:before, .mkdf-blog-pagination ul li.mkdf-pag-first a span:before, .mkdf-blog-pagination ul li.mkdf-pag-last a span:before {
  display: block;
  line-height: inherit;
}

/* ==========================================================================
   Blog pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode pagination standard style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-pag-standard-shortcodes .mkdf-blog-list {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-blog-list-holder.mkdf-bl-pag-standard-shortcodes.mkdf-bl-pag-standard-shortcodes-animate .mkdf-blog-list {
  opacity: 0;
}

.mkdf-bl-standard-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
  margin: 20px 0 0;
}

.mkdf-bl-standard-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.mkdf-bl-standard-pagination ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
  position: relative;
  vertical-align: top;
}

.mkdf-bl-standard-pagination ul li a {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.25em;
  line-height: 1.33em;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: middle;
}

.mkdf-bl-standard-pagination ul li a a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.mkdf-bl-standard-pagination ul li a a:hover {
  color: #c59d5f;
}

.mkdf-bl-standard-pagination ul li a:hover {
  text-decoration: underline;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-active a {
  text-decoration: underline;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next {
  position: absolute;
  top: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a {
  font-size: 20px;
  -webkit-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  transition: color 0.2s ease-out, opacity 0.2s ease-out;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a:hover, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a:hover {
  color: #c59d5f;
  text-decoration: none;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a span, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a span {
  display: block;
  line-height: inherit;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a span:before, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a span:before {
  display: block;
  line-height: inherit;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev {
  left: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a {
  opacity: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next {
  right: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a {
  opacity: 1;
}

/* ==========================================================================
   Blog List shortcode pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination load more style - begin
   ========================================================================== */
.mkdf-blog-pag-load-more {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 40px 0 30px;
  text-align: center;
}

/* ==========================================================================
   Blog pagination load more style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination loading element style - begin
   ========================================================================== */
.mkdf-blog-pag-loading {
  color: #000000;
  display: none;
  margin: 40px 0 20px;
  position: relative;
  text-align: center;
  width: 100%;
}

.mkdf-blog-pag-loading.mkdf-standard-pag-trigger {
  left: 0;
  position: absolute;
  top: 50px;
}

.mkdf-blog-pag-loading.mkdf-showing {
  display: block;
}

.mkdf-blog-pag-loading > div {
  background-color: #000000;
  border-radius: 100%;
  display: inline-block;
  height: 14px;
  margin: 0 3px;
  position: relative;
  vertical-align: middle;
  width: 14px;
  -webkit-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
}

.mkdf-blog-pag-loading .mkdf-blog-pag-bounce1 {
  animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  -webkit-animation-delay: -0.32s;
}

.mkdf-blog-pag-loading .mkdf-blog-pag-bounce2 {
  animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  -webkit-animation-delay: -0.16s;
}

@-webkit-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog pagination loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Masonry style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-masonry article {
  padding-bottom: 40px !important;
}

.mkdf-blog-holder.mkdf-blog-masonry article.mkdf-post-has-media .mkdf-post-heading {
  margin-bottom: 36px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-info-top {
  margin-bottom: 3px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-excerpt-holder {
  margin: 22px 0 0;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-read-more-button {
  margin-top: 26px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-blog-list-button:hover {
  color: #c59d5f;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-blog-list-button:hover span {
  color: #c59d5f;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-link-holder-inner {
  padding: 43px 0;
  width: 85%;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-quote-holder-inner {
  padding: 50px 0;
  width: 85%;
}

.mkdf-blog-holder.mkdf-blog-masonry .mkdf-blog-pagination {
  margin: 102px 0 30px;
}

/* ==========================================================================
   Blog List - Masonry style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-standard article {
  margin: 0 0 73px;
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-standard article.mkdf-post-has-media .mkdf-post-heading {
  margin-bottom: 47px;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-blog-list-button {
  color: #000000 !important;
}

.mkdf-blog-holder.mkdf-blog-standard article .mkdf-blog-list-button:hover span {
  color: #000000 !important;
}

.mkdf-blog-holder.mkdf-blog-standard article.format-link, .mkdf-blog-holder.mkdf-blog-standard article.format-quote {
  margin: 0 0 80px;
}

/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */
/* Single author box styles - begin
	====================================================================== */
.mkdf-author-description {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border-top: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 64px;
  padding-top: 72px;
}

.mkdf-author-description .mkdf-author-description-content {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.mkdf-author-description .mkdf-author-description-image {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  margin: 0 auto;
  padding-right: 30px;
  padding-top: 6px;
  width: 160px;
}

.mkdf-author-description .mkdf-author-description-image img {
  display: block;
  position: relative;
}

.mkdf-author-description .mkdf-author-description-text-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name {
  margin: 0 0 17px 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name a {
  color: #000000;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name a:hover {
  color: #c59d5f;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 17px;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-text > p {
  margin: 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-email {
  margin: 0 0 17px 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a:after {
  content: '|';
  padding: 0 12px;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a:last-child:after {
  display: none;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a:hover {
  color: #c59d5f;
}

@media only screen and (max-width: 768px) {
  .mkdf-author-description .mkdf-author-description-content {
    padding: 0;
  }
  .mkdf-author-description .mkdf-author-description-image {
    display: block;
    width: 100%;
  }
  .mkdf-author-description .mkdf-author-description-text-holder {
    display: block;
    margin-top: 30px;
    padding: 0;
  }
}

/* Single author box styles - end
	====================================================================== */
/* Single posts navigation styles - begin
    ====================================================================== */
.mkdf-blog-single-navigation-share {
  box-sizing: border-box;
  min-height: 51px;
  position: relative;
}

.mkdf-blog-single-navigation-share .mkdf-blog-single-share,
.mkdf-blog-single-navigation-share .mkdf-blog-single-prev,
.mkdf-blog-single-navigation-share .mkdf-blog-single-next {
  min-height: 51px;
  position: absolute;
  top: 0;
  width: calc(100% / 3);
}

.mkdf-blog-single-navigation-share .mkdf-blog-single-share {
  left: calc(100% / 3);
  text-align: center;
}

.mkdf-blog-single-navigation-share .mkdf-link {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-single-navigation-share .mkdf-arrow {
  background-color: currentColor;
  color: inherit;
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  -webkit-mask-image: url("../img/arrow.svg");
  mask-image: url("../img/arrow.svg");
}

.mkdf-blog-single-navigation-share .mkdf-blog-single-prev {
  left: 0;
  text-align: left;
}

.mkdf-blog-single-navigation-share .mkdf-blog-single-prev .mkdf-link {
  padding-left: 47px;
}

.mkdf-blog-single-navigation-share .mkdf-blog-single-prev .mkdf-arrow {
  left: 10px;
  -webkit-transform: scaleX(-1) translateY(-50%);
  -moz-transform: scaleX(-1) translateY(-50%);
  transform: scaleX(-1) translateY(-50%);
}

.mkdf-blog-single-navigation-share .mkdf-blog-single-next {
  right: 0;
  text-align: right;
}

.mkdf-blog-single-navigation-share .mkdf-blog-single-next .mkdf-link {
  padding-right: 47px;
}

.mkdf-blog-single-navigation-share .mkdf-blog-single-next .mkdf-arrow {
  right: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-blog-single-navigation-share .mkdf-title {
  color: inherit;
  margin-bottom: 6px;
}

.mkdf-blog-single-navigation-share .mkdf-label {
  color: inherit;
}

.mkdf-single-links-pages {
  clear: both;
  margin: 20px 0 5px;
}

.mkdf-single-links-pages .mkdf-single-links-pages-inner > a,
.mkdf-single-links-pages .mkdf-single-links-pages-inner > span {
  display: inline-block;
  margin: 0 15px 5px 0;
  position: relative;
  vertical-align: middle;
}

/* Single posts navigation styles - end
    ====================================================================== */
/* Related posts styles - begin
	====================================================================== */
.mkdf-related-posts-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border-top: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 67px;
  padding-top: 69px;
}

.mkdf-related-posts-holder .mkdf-related-posts-title {
  margin: 0 0 38px;
}

.mkdf-related-posts-holder .mkdf-related-posts-title > * {
  margin: 0;
}

.mkdf-related-posts-holder .mkdf-related-posts-inner {
  margin: 0 -15px;
}

.mkdf-related-posts-holder .mkdf-related-post {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0 15px;
  position: relative;
  width: 25%;
}

.mkdf-content-has-sidebar .mkdf-related-posts-holder .mkdf-related-post {
  widtH: 33.33333333333333%;
}

.touch .mkdf-related-posts-holder .mkdf-related-post {
  cursor: pointer;
}

.mkdf-related-posts-holder .mkdf-related-post:hover .mkdf-related-post-image a:after {
  opacity: 1;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image a {
  display: block;
  position: relative;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image img {
  display: block;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-title {
  margin: 31px 0 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-title:first-child {
  margin-top: 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 15px;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.25em;
  line-height: 1.33em;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div a:hover {
  color: #c59d5f;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:after {
  content: '|';
  padding: 0 12px;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:last-child {
  padding: 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:last-child:after {
  display: none;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div.mkdf-post-info-author .mkdf-post-info-author-text {
  margin: 0 3px 0 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* Related posts styles - end
	====================================================================== */
/* ==========================================================================
   Blog Single style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-single article {
  margin: 0 0 38px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-heading {
  margin-bottom: 46px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-title {
  margin-bottom: 2px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom {
  margin-bottom: 12px;
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-additional-content, .mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-additional-content {
  margin-top: 30px;
}

/* ==========================================================================
   Blog Single style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode global style - begin
   ========================================================================== */
.mkdf-blog-list-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.mkdf-blog-list-holder .mkdf-blog-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mkdf-blog-list-holder .mkdf-bl-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mkdf-blog-list-holder .mkdf-bli-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-list-holder .mkdf-bli-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-list-holder .mkdf-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 48px;
}

.mkdf-blog-list-holder .mkdf-post-image a {
  display: block;
}

.mkdf-blog-list-holder .mkdf-post-image a:hover:after {
  opacity: 1;
}

.mkdf-blog-list-holder .mkdf-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.mkdf-blog-list-holder .mkdf-post-image img {
  display: block;
}

.mkdf-blog-list-holder .mkdf-bli-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
  line-height: 1.33em;
  margin: 0;
}

.mkdf-blog-list-holder .mkdf-bli-info > div {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.25em;
  line-height: 1.33em;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.mkdf-blog-list-holder .mkdf-bli-info > div a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.mkdf-blog-list-holder .mkdf-bli-info > div a:hover {
  color: #c59d5f;
}

.mkdf-blog-list-holder .mkdf-bli-info > div:after {
  content: '|';
  padding: 0 12px;
}

.mkdf-blog-list-holder .mkdf-bli-info > div:last-child {
  padding: 0;
}

.mkdf-blog-list-holder .mkdf-bli-info > div:last-child:after {
  display: none;
}

.mkdf-blog-list-holder .mkdf-bli-info > div a {
  color: inherit;
}

.mkdf-blog-list-holder .mkdf-bli-info > div a:hover {
  color: #c59d5f;
}

.mkdf-blog-list-holder .mkdf-post-title {
  margin: 2px 0 0;
}

.mkdf-blog-list-holder .mkdf-post-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 18px 0 0;
}

.mkdf-blog-list-holder .mkdf-post-excerpt p {
  margin: 0;
}

.mkdf-blog-list-holder .mkdf-blog-list-button {
  margin-top: 31px;
}

.mkdf-blog-list-holder .mkdf-blog-list-button:hover .mkdf-btn-text {
  color: inherit !important;
}

/* ==========================================================================
   Blog List shortcode global style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Standard type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-standard:not(.mkdf-bl-one-column) .mkdf-bl-item {
  float: left;
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-two-columns .mkdf-bl-item {
  width: 50%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-two-columns .mkdf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-three-columns .mkdf-bl-item {
  width: 33.33333%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-three-columns .mkdf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item {
  width: 25%;
}

@media only screen and (min-width: 1281px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item:nth-child(4n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item {
  width: 20%;
}

@media only screen and (min-width: 1281px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item:nth-child(5n+1) {
    clear: both;
  }
}

/* ==========================================================================
   Blog List shortcode - Standard type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List loading element style - begin
   ========================================================================== */
.mkdf-bl-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  text-align: center;
}

.mkdf-bl-loading.mkdf-showing {
  display: block;
}

.mkdf-bl-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #000000;
  border-radius: 100%;
  -webkit-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-bouncedelay 1.4s infinite ease-in-out both;
}

.mkdf-bl-loading .mkdf-bl-loading-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.mkdf-bl-loading .mkdf-bl-loading-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog List loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map.css.map */
