/* line 2, scss/mkdf-meta-boxes.scss */
.mkdf-meta-box .mkdf-meta-box-holder {
    width: 100%;
}

/* line 6, scss/mkdf-meta-boxes.scss */
.mkdf-meta-box .mkdf-meta-box-holder .mkdf-page-form-section th {
    width: 250px;
}

/* line 9, scss/mkdf-meta-boxes.scss */
.mkdf-meta-box .mkdf-meta-box-holder .mkdf-page-form-section th p {
    font-weight: 400;
    color: #9e9e9e;
}

/* line 16, scss/mkdf-meta-boxes.scss */
.mkdf-meta-box .mkdf-meta-box-holder .mkdf-page-form-section .mkdf-field-desc {
    width: 20%;
    padding: 15px 20px 15px 0;
    display: table-cell;
    height: 100%;
    vertical-align: middle;

}

.mkdf-meta-box .mkdf-meta-box-holder .mkdf-page-form-section .mkdf-field-desc h4 {
    margin: 0;
    line-height: 1.5em;
    padding: 0;
    color: #6F858D;
    font-size: 14px;
    font-weight: 600;
}

.mkdf-meta-box .mkdf-meta-box-holder .mkdf-page-form-section {
    border-top: 1px dashed #ddd;
    display: table;
    width: 100%;
}

.mkdf-meta-box .mkdf-meta-box-holder .mkdf-page-form-section .mkdf-field-desc p {
    color: #acb5bf;
    margin: 0;
    font-size: 13px;
}

.mkdf-meta-box .mkdf-meta-box-holder .mkdf-page-form-section .mkdf-section-content {
    padding: 20px 0;
    display: table-cell;
    width: 80%;
    height: 100%;
    vertical-align: middle;
    position: relative;
}

.mkdf-meta-box-hidden {
    display: none;
}

.mkdf-meta-box-holder .mkdf-page-form-container-holder .mkdf-page-form-container-holder {
    border-left: none;
    margin-left: 0;
}

.mkdf-meta-box-holder .mkdf-page-form-container-holder .mkdf-page-form-container-holder .mkdf-page-form-section {
    padding-left: 40px;
    background: #F4F7FC
}

.mkdf-meta-box-holder .mkdf-page-form-container-holder .mkdf-page-form-container-holder .mkdf-page-form-container-holder .mkdf-page-form-section {
    background: #EBEEF0
}

.mkdf-meta-box-holder .mkdf-page-form-container-holder .mkdf-page-form-container-holder .mkdf-page-form-container-holder .mkdf-page-form-section:last-child {
    border-bottom: none;
}

.mkdf-meta-box-holder .mkdf-page-form-container-holder .mkdf-page-form-section {
    padding-left: 20px;
    background: #FBFDFF;
}

div.inside > div > div > div.mkdf-page-form-section:first-child {
    border-top: none;
}

.mkdf-meta-box-holder .mkdf-page-form-container-holder .mkdf-page-form-section:first-child {
    border-top: 2px solid #dae0e8;
}

.mkdf-meta-box-holder .mkdf-page-form-container-holder::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 12px;
    border-top: 10px solid #dae0e8;
}

.mkdf-meta-box-holder .mkdf-section-content .mkdf-page-form-container-holder {
    border-top: 2px solid #dae0e8;
    background: #FBFDFF;
    padding-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.mkdf-meta-box-holder .mkdf-section-content .mkdf-page-form-container-holder::before {
    left: 15px;
}

.mkdf-meta-box-holder .mkdf-page-section-subtitle {
    color: #34383C;
    text-transform: uppercase;
    display: inline-block;
    margin: 30px 0 15px;
    font-size: 13px;
    position: relative;
    left: -13px;
    padding: 8px 20px;
    background-color: #DFE8F0;
    border-left: 3px solid #ABB7C7;
}

.mkdf-page.mkdf-meta-box .btn-default {
    margin-right: 0
}

.field.switch {
    margin-top: 0;
    display: inline-block;
    border: 1px solid #57CEEB;
    border-radius: 3px;
    margin: 0;
}

/* Gutenberg page CSS fix */

.gutenberg-editor-page .postbox {
    margin: 20px !important;
}

.gutenberg-editor-page .edit-post-layout__metaboxes {
    background: #f2f2f2 !important;
}

.qodef-meta-box .iris-picker,
.qodef-meta-box .iris-picker * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
